In [0]:
#3
num=int(input("num= "))
i=int(input("i= "))
c=i<<1
g=num|c
print(g)

num= 13
i= 1
15

In [0]:
#1
l=[input(),input(),input(),input(),input(),input(),input()]
l=list(set(l))
l.sort()
print(l)

4
4
5
6
8
4
5
['4', '5', '6', '8']

In [0]:
#2
lst=eval(input('enter number: '))
t=tuple(lst)
print(len(t))
print(sum(t))
print(max(t))
print(min(t))

enter number: [1,9,3,7,6,5]
6
31
9
1

In [0]:
#4
num=int(input("enter a number: "))
m=num%2
a=1 if (m==1)else 0
print(a)

enter a number: 14
0
enter a number: 15
1

In [0]:
#6
my_dict={}
print('no of students: ')
n = int(input())
for i in range(n):
     name=input('name of student:-')
     marks=int(input('marks of students:'))
my_dict.update({'name': 'marks'})
print(my_dict)
print("/n the name of marks 5 students:-",sorted(my_dict.values))
print("/n sorted by value:",sorted(my_dic.items(), key=lambda x: x[1]))

no of students:
2
name of student:-s
marks of students:8
name of student:-t
marks of students:9
{'name': 'marks'}

TypeError: ignored

In [0]:
A=[1,3,2]
B=[4,6,5]
a=A+B
a=list(set(a))
print(a)

[1, 2, 3, 4, 5, 6]